
.board {
    //border: 1px solid red;
    background-color: $base;
    border-radius: 15px;



    // =========================    time/date     =========================
    .top {
        font-weight: bold;
        font-size: 1.5rem;
        color: $yellow;

        .time {
            margin: 0px 30px 0px 30px;
        }
        .reload-button {
            color: $grey;
            margin-top: 10px;
        }
        .close-button {
            font-size: 2rem;
            margin: 10px -10px 0px 10px;
            color: $red;
        }
        .wofi {
            color: $grey;
            margin-top: 5px;
        }
        .power-menu-button {
            font-size: 1.7rem;
            margin: 11px 10px 0px -10px;
            color: $red;
        }
    }

    .cal-notes {
        //margin: -80px 0px 80px 20px;
        margin-left: 20px;

        // =========================    calendar     =========================
        .cal {
            calendar:selected {
                color: $yellow;
            }

            calendar.header {
                color: $yellow;
            }

            calendar.button {
                color: $yellow;
            }

            calendar.highlight {
                color: $yellow;
            }

            calendar:indeterminate {
                color: #757575;
            }
        }

        // =========================    notes     =========================
        .notes{
            color: $green; 
            font-size: 1.4rem;
                .edit-button {
                    color: $green;
                    font-size: 1rem;
                    border-radius: 20px;
                    border: 1px solid $green;
                    padding: 0px 2px 2px 3px;
                    margin-top: 10px;
                }
                .clear-button {
                    color: $red;
                    font-size: 1rem;
                    border-radius: 20px;
                    border: 1px solid $red;
                    padding: 0px 2px 2px 3px;
                    margin-top: 10px;
                }
            }
    }
    // =========================    sysinfo     =========================
    .sysinfo {
        .iconram {
            font-size: 4rem;
            color: $red4;
        }
        .iconcpu {
            font-size: 4rem;
            color: $red;
        }
        .icondisk {
            font-size: 4rem;
            color: $purple;
        }
        .ram {
            background-color: $base;
            color: $red4;
        }
        .cpu {
            background-color: $base;
            color: $red;
        }
        .disk {
            background-color: $base;
            color: $purple;
        }
    }
    // =========================    sliders     =========================
    .sliders {
        font-size: 2rem;
        margin-left: 15px;

         scale trough  {
            min-height: 17px;
            background-color: $base;
            border-radius: 100px;
        }

        scale highlight {
            padding: 7px;
            border-radius: 10px;
        }
        .music_slider scale highlight {
            background-color: $green;
        }
        .browser_slider scale highlight {
            background-color: $yellow;
        }
        .head_slider scale highlight {
            background-color: $blue;
        }
        .mon_slider scale highlight {
            background-color: $blue;
        }
        .mic_slider scale highlight {
            background-color: $purple;
        }
        .music_icon {
            color: $green;
            margin-right: 15px;
        }
        .browser_icon {
            color: $yellow;
            margin-right: 15px;
        }
        .head_icon {
            color: $blue;
            margin-right: 17px;
        }
        .mon_icon {
            color: $blue;
            margin-right: 12px;
        }
        .mic_icon {
            color: $purple;
            margin-right: 12px;
        }
    }
        // =========================    apps     =========================
    .apps {
        margin: 10px 0px 0px 10px;
    }
        // =========================    weather     =========================
    .weather-container {
        margin-top: 15px;
        margin-left: 15px;

        .weather-info {
            font-size: 16px;
            color: $purple;
          }
          
          .weather-temp {
            font-size: 32px;
            color: $yellow;
          }
          
          .weather-icon {
            font-size: 40px;
          }
          
          .weather-location {
            font-size: 20px;
          }
          .weather-wind {
            font-size: 20px;
            color: $blue;
        }
      }
        // =========================    network     =========================
    .network {
        margin-top: 25px;
        
        .downarrow {
            font-size: 2rem;
            color: $cyan;
        }
        .uparrow {
            font-size: 2rem;
            color: $yellow3;
        }
    }
    .downspeed {
        color: $blue;
        background-color: $blue;

    }
    .upspeed {
        color: $yellow;
        background-color: $yellow;
    }
}
