.power-menu {
    font-size: 5rem;
    background-color: $base;
    border-radius: 20px;
    
    .shutdown {
        color: $red;
    }
    .reboot {
        color: $green;
    }
    .sleep {
        color: $blue;
    }
    .lock {
        color: $purple;
    }
    .close {
        color: $red;
        font-size: 7rem;
    }
}
