
.player {
    font-size: 1.1rem;
    background-color: $base;
    border-radius: 20px;
    .player-box {
        margin: 2px 165px -2px -165px;
        color: $yellow2;
        font-size: 0.9rem;
    }
    .title {
        // margin: -25px 0px 25px;
        color: $yellow;
    }
    .artist {
        // margin: -25px 5px 25px -5px;
        color: $red;
    }
    .player-buttons {
        font-size: 2rem;
        margin: 0px -90px 0px 90px;
        .button-previous {
            font-size: 4rem;
            color: $red;
        }
        .button-pause {
            padding: 10px;
            color: $red;
        }
        .button-next {
            font-size: 4rem;
            color: $red;
        }
        .button-change {
            font-size: 4rem;
            margin: -20px -20px 20px 20px;
            color: $grey;
        }
    }
    .position_slider {
        margin: 10px; 
         scale trough  {
            min-height: 30px;
            background-color: $red3;
            border-radius: 100px;
        }
        scale highlight {
            padding: 7px;
            border-radius: 100px;
            background-color: $red;
        }
        
    }
    .volume_slider {
        margin: -15px -15px 0px 15px; 

         scale trough  {
            min-height: 30px;
            background-color: $red3;
            border-radius: 100px;
        }
        scale highlight {
            padding: 7px;
            border-radius: 100px;
            background-color: $red;
        }
        
    }
}

